.products{
    width: 100vw;
    background-image: linear-gradient(to right, rgb(0, 0, 60), rgba(26, 159, 195, 0.6), rgb(0, 0, 60));
    height: 130vh;
}

.tipFilterBar{
    width: 100vw;
    background-color: white;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.tipFilterBar button{
    color: black;
    background-color: white;
    height: 3rem;
    border: none;
}

.tipFilterBar button:hover{
    background-color: rgba(26, 159, 195, 0.6);
    color: white;
}

.tipDugme.active{
    background-color: rgba(26, 159, 195, 0.6);
}

.prikaziSve:hover{
    background-color: darkblue;
}

.inputContainer {
    margin-bottom: 10px;
  }

.products input{
  width: 20vw;
  height: 7vh;
  border-radius: 16px;
}

.products-wrapper{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Automatski rasporedi proizvode u redove sa minimalno 300px širine */
  grid-gap: 20px;
}

  